#landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    color: rgba(205, 205, 205, 0.98) !important;

    > label {
        font-size: 16px;
        font-weight: 700;
    }

    > label > i {
        cursor: pointer;
    }
}

#home-menu {
    .item {
        color: rgba(205, 205, 205, 0.98) !important;
        font-size: 20px !important;
    }
}

#model-selection {
    display: flex;
    margin-top: 5%;
    justify-content: space-around;

    div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1.5rem;
        // grid-row-gap: 0.5rem;

        .ui.inverted.segment {
            height: 200px;
            width: 200px;
            margin: 0 !important;
            display: flex;
            justify-content: center;
            background: rgba(205, 205, 205, 0.98);
            color: #000000;
            align-items: center;
            font-size: 30px;
            cursor: pointer;

            &:hover {
                transform: scale(1.2);
                color: rgba(205, 205, 205, 0.98);
                background: linear-gradient(
                    to bottom,
                    rgba(96, 125, 158, 0.9),
                    rgb(158, 138, 96)
                );
            }
            transition: transform 2s ease, color 1s ease;
        }
    }
}
