@import './home.scss';
@import './notfound.scss';

@import './gear';
// @import './geometry';
@import './dashboard';

#app {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    background-image: linear-gradient(rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0.7)),
        url('../static/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

p {
    text-align: justify;
}

// body {
//     display: block;
// }

h1 {
    font-size: 100px;
}
